	* {
		margin: 0;
		padding: 0;
	}

	body {
		background-image: url(use/hek.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100%;
		width: 100%;
		height: 100vh;
	}

	#loginBox{
		background-color: rgb(235,164,21);
		width: 400px;
		height: 400px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	#username, #password {
		padding: 10px 35px;
		border-style: none;
		border-bottom: 1px solid #e3e3e3;
		position: relative;
		left: 100px;
		top: 100px;
		text-align: center;
		font-family: century gothic;
		background-color: transparent;
		font-color: white;
	}

	#button {
		background-color: rgb(255,255,153);
		padding: 10px 20px;
		border-style: none;
		border-radius: 20px;
		position: relative;
		top: 170px;
		right: 45px;
		transition: all 300ms ease-in-out;
	}
	
	#button:hover {
		cursor: pointer;
		background-color: yellow;
	}
	
	#loginBox p {
		font-family: century gothic;
		font-size: 10pt;
		color: #a1a1a1;
		position: relative;
		top: 190px;
		left: 145px;
	}
	
	#loginBox img {
		width: 10%;
		position: relative;
		top: 210px;
		left: 140px;
	}