	::-webkit-scrollbar {
  	width: 10px;
	}

	::-webkit-scrollbar-track {
  	background-color: grey ;
	}

	::-webkit-scrollbar-thumb {
	background-color:white;
	}

	::-webkit-scrollbar-thumb:hover {
  	background-color: rgb(255,255,153);
	}

	body{
		background-color:#f4cc70;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100%;
	}
	
	#div1{
		height: 85px;
		width: 99%;
		right: 2%;
		left: 2%;
		background-color:#f4cc70;
	}

	.p1{
		font-size: 35px;
		font-family: lucida handwriting;
		padding-top: 20px;
		margin-top: -73px;
		color:rgb(128,0,0);
	}

	li {
		display: inline;
	}

	#una li a{
		color:#de7a22;
		display: inline-block;
		padding: 10px;
		font-size: 40px;
		text-decoration: none;
		border-radius: 10px;
		margin-left: 50px;
		margin-top: 10px;
	}

	#duwa {
		margin-top: -107px;
	}

	#duwa li a{
		color:#de7a22;
		display: inline-block;
		padding: 10px;
		font-size: 35px;
		text-decoration: none;
		border-radius: 10px;
		float: right;
		margin-right: 30px;
		margin-top: 10px;
	}
	
	li a:hover {
		background-color:#d0efff;
		cursor: pointer;
	}

	table{
		margin-top: 10%;
		margin-left:10%;
	}

	.vids {
		height: 240px;
		border-radius:80%;
		padding: 30px;
	}

	.title {
		color: #20948b;
		text-align: center;
		font-family: Alpha Light;
	}

	.caption {
		color:#de7a22;
		text-align: center;
	}


